body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; 
}

.rectangle {
    width: 300px;
    height: 150px;
    background-color: rgb(5, 172, 5);
    border: 5px solid black;
    border-radius: 20px;
}